@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255, 115, 179;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 10, 23;
  --background-end-rgb: 12, 10, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-block::before {
  position: relative;
}

.total {
  position: absolute;
}