@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255, 115, 179;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 10, 23;
  --background-end-rgb: 12, 10, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header h2 {
  opacity: 0.8;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 900;
  margin: 0;
}
header p {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}

.header-block::before {  
  position: absolute;
  content: '';
  display: block;
  height: 30px;
  aspect-ratio: 1 / 1;
  background: #000;
  border: 1px solid #fff;
  z-index: -1;
  left: -15px;
  top: 5px;
  transform: rotate(45deg);
}
.header-block::after {  
  position: absolute;
  content: '';
  display: block;
  height: 30px;
  aspect-ratio: 1 / 1;
  background: #000;
  border: 1px solid #fff;
  z-index: -1;
  right: -15px;
  top: 5px;
  transform: rotate(45deg);
}

.total {
  position: absolute;
}